@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Work+Sans:wght@500;700&display=swap");
/* common style */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
/* top players style */
.section-title {
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.container {
  background-color: white;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
.top-players {
  margin-bottom: 30px;
}
/* top blog style */
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
/* courses style */
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-duration {
  color: #ff4a60;
  background: #ffe4e8;
  border-radius: 14.6913px;
  width: 84.83px;
  height: 20.38px;
  padding-top: 3px 2px;
  font-weight: 400;
  font-size: 14.6913px;
}
.fa-clock {
  color: #ff4a60;
  padding: 3px 3px 3px 5px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
/* media query */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}
